<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lierenfire1_00000.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-98.5</real>
				<key>offsetY</key>
				<real>128.5</real>
			</dict>
			<key>lierenfire1_00001.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-95.5</real>
				<key>offsetY</key>
				<real>118.5</real>
			</dict>
			<key>lierenfire1_00002.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-81</real>
				<key>offsetY</key>
				<real>104</real>
			</dict>
			<key>lierenfire1_00003.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>177</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-67.5</real>
				<key>offsetY</key>
				<real>84</real>
			</dict>
			<key>lierenfire1_00004.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>lierenfire1_00005.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>33</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>lierenfire1_00006.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>91</integer>
				<key>offsetX</key>
				<real>51.5</real>
				<key>offsetY</key>
				<real>-57.5</real>
			</dict>
			<key>lierenfire1_00007.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>91</integer>
				<key>offsetX</key>
				<real>56.5</real>
				<key>offsetY</key>
				<real>-64</real>
			</dict>
			<key>lierenfire1_00008.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>135</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>54.5</real>
				<key>offsetY</key>
				<real>-65</real>
			</dict>
			<key>lierenfire1_00009.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>55.5</real>
				<key>offsetY</key>
				<real>-65</real>
			</dict>
			<key>lierenfire1_00010.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>57.5</real>
				<key>offsetY</key>
				<real>-65</real>
			</dict>
			<key>lierenfire1_00011.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>56.5</real>
				<key>offsetY</key>
				<real>-65.5</real>
			</dict>
			<key>lierenfire1_00012.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>457</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-99</real>
			</dict>
			<key>lierenfire1_00013.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>55</real>
				<key>offsetY</key>
				<real>-99</real>
			</dict>
			<key>lierenfire1_00014.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>58.5</real>
				<key>offsetY</key>
				<real>-98.5</real>
			</dict>
			<key>lierenfire1_00015.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>438</integer>
				<key>offsetX</key>
				<real>59</real>
				<key>offsetY</key>
				<real>-97.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>t3170.png</string>
			<key>realTextureFileName</key>
			<string>t3170.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>