<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>21015jisushej_00000.png</key>
			<dict>
				<key>width</key>
				<integer>327</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>21015jisushej_00001.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>119</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>21015jisushej_00002.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>21015jisushej_00003.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>21015jisushej_00004.png</key>
			<dict>
				<key>width</key>
				<integer>323</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>21015jisushej_00005.png</key>
			<dict>
				<key>width</key>
				<integer>297</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>361</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>21015jisushej_00006.png</key>
			<dict>
				<key>width</key>
				<integer>261</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>361</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>21015jisushej_00007.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>652</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>33</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>21015jisushej_00008.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>358</integer>
				<key>y</key>
				<integer>293</integer>
				<key>offsetX</key>
				<real>33.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>t210150.png</string>
			<key>realTextureFileName</key>
			<string>t210150.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>