<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>t14007zhuazi (1).png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>t14007zhuazi (2).png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>74</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t14007zhuazi (3).png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>155</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>t14007zhuazi (4).png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t14007zhuazi (5).png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t14007zhuazi (6).png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t14007zhuazi (7).png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>t14007zhuazi (8).png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>t14007zhuazi (9).png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t14007zhuazi (10).png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>14007yexingguang (1).png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-43.5</real>
			</dict>
			<key>14007yexingguang (2).png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>83</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-33</real>
			</dict>
			<key>14007yexingguang (3).png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>80</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>14007yexingguang (4).png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>14007yexingguang (5).png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>14007yexingguang (6).png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>14007yexingguang (7).png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>249</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>14007yexingguang (8).png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>14007yexingguang (9).png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>176</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>14007yexingguang (10).png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>14007yexingguang (11).png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>t140070.png</string>
			<key>realTextureFileName</key>
			<string>t140070.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>