<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>t27shandian01.png</key>
			<dict>
				<key>width</key>
				<integer>511</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>201.5</real>
			</dict>
			<key>t27shandian02.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>507</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-49</real>
				<key>offsetY</key>
				<real>66.5</real>
			</dict>
			<key>t27shandian03.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>913</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t27shandian04.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>506</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>-67</real>
				<key>offsetY</key>
				<real>67</real>
			</dict>
			<key>t27shandian05.png</key>
			<dict>
				<key>width</key>
				<integer>520</integer>
				<key>height</key>
				<integer>493</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>745</integer>
				<key>offsetX</key>
				<real>-86</real>
				<key>offsetY</key>
				<real>73.5</real>
			</dict>
			<key>t27shandian06.png</key>
			<dict>
				<key>width</key>
				<integer>520</integer>
				<key>height</key>
				<integer>486</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1239</integer>
				<key>offsetX</key>
				<real>-86</real>
				<key>offsetY</key>
				<real>77</real>
			</dict>
			<key>t27shandian07.png</key>
			<dict>
				<key>width</key>
				<integer>421</integer>
				<key>height</key>
				<integer>451</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>521</integer>
				<key>y</key>
				<integer>641</integer>
				<key>offsetX</key>
				<real>-102.5</real>
				<key>offsetY</key>
				<real>61.5</real>
			</dict>
			<key>t27shandian08.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>943</integer>
				<key>y</key>
				<integer>641</integer>
				<key>offsetX</key>
				<real>-132.5</real>
				<key>offsetY</key>
				<real>-38</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>t280.png</string>
			<key>realTextureFileName</key>
			<string>t280.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>