<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>t18011 (13).png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>t18011 (1).png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>t18011 (2).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>t18011 (3).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>85</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>t18011 (4).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>t18011 (5).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>t18011 (6).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>t18011 (7).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>t18011 (8).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>t18011 (9).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>t18011 (10).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>t18011 (11).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>329</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>t18011 (12).png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>391</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>t180110.png</string>
			<key>realTextureFileName</key>
			<string>t180110.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>