<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>baofengxuet_00000.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>500</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-162.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baofengxuet_00001.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>488</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-149.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>baofengxuet_00002.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>451</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-117.5</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>baofengxuet_00003.png</key>
			<dict>
				<key>width</key>
				<integer>309</integer>
				<key>height</key>
				<integer>407</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>644</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-95.5</real>
				<key>offsetY</key>
				<real>-46.5</real>
			</dict>
			<key>baofengxuet_00004.png</key>
			<dict>
				<key>width</key>
				<integer>471</integer>
				<key>height</key>
				<integer>398</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>501</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-51</real>
			</dict>
			<key>baofengxuet_00005.png</key>
			<dict>
				<key>width</key>
				<integer>466</integer>
				<key>height</key>
				<integer>378</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>452</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-61</real>
			</dict>
			<key>baofengxuet_00006.png</key>
			<dict>
				<key>width</key>
				<integer>456</integer>
				<key>height</key>
				<integer>367</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>900</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>-66.5</real>
			</dict>
			<key>baofengxuet_00007.png</key>
			<dict>
				<key>width</key>
				<integer>453</integer>
				<key>height</key>
				<integer>362</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1268</integer>
				<key>offsetX</key>
				<real>-23.5</real>
				<key>offsetY</key>
				<real>-69</real>
			</dict>
			<key>baofengxuet_00008.png</key>
			<dict>
				<key>width</key>
				<integer>452</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>831</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>-89</real>
			</dict>
			<key>baofengxuet_00009.png</key>
			<dict>
				<key>width</key>
				<integer>440</integer>
				<key>height</key>
				<integer>274</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>457</integer>
				<key>y</key>
				<integer>1154</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>-113</real>
			</dict>
			<key>baofengxuet_00010.png</key>
			<dict>
				<key>width</key>
				<integer>438</integer>
				<key>height</key>
				<integer>271</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1631</integer>
				<key>offsetX</key>
				<real>-31</real>
				<key>offsetY</key>
				<real>-114.5</real>
			</dict>
			<key>baofengxuet_00011.png</key>
			<dict>
				<key>width</key>
				<integer>422</integer>
				<key>height</key>
				<integer>268</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>454</integer>
				<key>y</key>
				<integer>1429</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>-116</real>
			</dict>
			<key>baofengxuet_00012.png</key>
			<dict>
				<key>width</key>
				<integer>424</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>439</integer>
				<key>y</key>
				<integer>1698</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>-118</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>t10100.png</string>
			<key>realTextureFileName</key>
			<string>t10100.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>