<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>129fszzbz (1).png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>129fszzbz (2).png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>129fszzbz (3).png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>111</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>129fszzbz (4).png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>111</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>129fszzbz (5).png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>129fszzbz (6).png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>129fszzbz (7).png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>129fszzbz (8).png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>119</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>129fszzbz (9).png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>129fszzbz (10).png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>t1290.png</string>
			<key>realTextureFileName</key>
			<string>t1290.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>