<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>t20008 (18).png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>t20008 (1).png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>97</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>t20008 (2).png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>t20008 (3).png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>97</integer>
				<key>y</key>
				<integer>69</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>t20008 (4).png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>t20008 (5).png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>t20008 (6).png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>119</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>t20008 (7).png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>t20008 (8).png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>283</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>t20008 (9).png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>379</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>t20008 (10).png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>220</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>t20008 (11).png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>t20008 (12).png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>339</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>t20008 (13).png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>t20008 (14).png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>186</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>t20008 (15).png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>279</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>t20008 (16).png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>186</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>t20008 (17).png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>371</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>t200080.png</string>
			<key>realTextureFileName</key>
			<string>t200080.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>