<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>13010fengxiang (9).png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>13010fengxiang (1).png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>8</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>13010fengxiang (2).png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>13010fengxiang (3).png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>13010fengxiang (4).png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>13010fengxiang (5).png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>13010fengxiang (6).png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>78</integer>
				<key>y</key>
				<integer>91</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>19.5</real>
			</dict>
			<key>13010fengxiang (7).png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>13010fengxiang (8).png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>13010dilie (1).png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>13010dilie (2).png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>13010dilie (3).png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>13010dilie (4).png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>13010dilie (5).png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>347</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>13010dilie (6).png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>13010dilie (7).png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>315</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>13010dilie (8).png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>409</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-32</real>
			</dict>
			<key>13010dilie (9).png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>330</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>13010dilie (10).png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>282</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>t130100.png</string>
			<key>realTextureFileName</key>
			<string>t130100.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>